title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body{
    font-family: 'Russo One', sans-serif;
    background-color: #BAD7E9;
}
button{
    font-family: 'Anton', sans-serif;
}

li {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

div{
    
    margin: auto;

    width: 50%;
    border: 3px solid rgb(62, 76, 228);
    padding: 10px;
}

#salmonPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer{
  padding-top: 50px;
}

th,td {
    border: 1px solid black;
}

.my-pictures {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100px;
    height: 100px;
}





/* font-family: 'Bree Serif', serif; */
